@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Global font for all regular text */

.navbar,
.sidebar,
.sidebar-nav,
.app-name {
  font-family: 'Montserrat', sans-serif;
}

pre,
code {
  font-family: monospace !important;
}


/* Ensure headings also use Montserrat */
.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6 {
  font-family: 'Montserrat', sans-serif;
}


/* tweak page width a bit */
.markdown-section {
  max-width: 900px;
  /* comfortable line length */
}

/* optional: light spacing for headings */
.markdown-section h1,
.markdown-section h2,
.markdown-section h3 {
  margin-top: 1.25em;
}

.sidebar-toggle .sidebar-toggle-button {
  background-color: #111C28;
}

.sidebar-subheader {
  margin: 0;
  color: white;
  font-weight: 400;
  text-align: center;
}

.sidebar-nav {
  color: #ababab;
}


.sidebar .search a {
  color: white;
}

.sidebar .search a  h2 {
  color: #21caab;
}


/* optional: dark mode (quick demo, extend if you like) */
@media (prefers-color-scheme: dark) {
  :root {
    --theme-color: #111C28;
    --cover-background-color: #21caab;
    --sidebar-toggle-offset-left: 1rem;
    --sidebar-toggle-icon-color: white;
    --sidebar-background: #111C28;
    --sidebar-nav-link-color--active: #21caab;
    --sidebar-nav-link-color: white;
    --search-result-heading-color: #21caab;
  }
}